<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>NGO Quality System</title>
		
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/ngoq.css">
		
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("jquery", "1.6.2", {
				uncompressed : false
			});
			google.load("jqueryui", "1.8.16", {
				uncompressed : false
			});

		</script>
		<script type="text/javascript" src="http://autobahn.tablesorter.com/jquery.tablesorter.min.js"></script>
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.bootstrap.confirm.popover.js"></script>
		<script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-alerts.min.js"></script>
		<script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.min.js"></script>
		<script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.min.js"></script>
		<script type="text/javascript" src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-twipsy.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/ngoq.js"></script>

		<script type="text/javascript">
			$(document).ready(function() {
				$.ajaxSetup({
				error:function(x,e){
					if(x.status==0){
						alert('You are offline!!\n Please Check Your Network.');
					}else if(x.status==404){
						alert('Requested URL not found.');
					}else if(x.status==500){
						alert('Internel Server Error: ' + x.responseText);
					}else if(e=='parsererror'){
						alert('Error.\nParsing JSON Request failed.');
					}else if(e=='timeout'){
						alert('Request Time out.');
					}else {
						alert('Unknow Error.\n'+x.responseText);
					}
				},
			//http://stackoverflow.com/questions/5100539/django-csrf-check-failing-with-an-ajax-post-request
			beforeSend: function(xhr, settings) {
	         	function getCookie(name) {
	             var cookieValue = null;
	             if (document.cookie && document.cookie != '') {
	                 var cookies = document.cookie.split(';');
	                 for (var i = 0; i < cookies.length; i++) {
	                     var cookie = jQuery.trim(cookies[i]);
	                     // Does this cookie string begin with the name we want?
	                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                     break;
	                 }
	             }
	         }
          	return cookieValue;
	         }
	         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
	             // Only send the token to relative URLs i.e. locally.
	             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
	         }
	         
	     }
	     
		});
	     $("#recordTable").tablesorter({});
				{% block docready %}
				{% endblock %}
			});
		</script>
	</head>
	<body>
		{% if messages %}
			{% for message in messages %}
			<div class="alert-message {{ message.tags }} fade in" data-alert="alert">
				<a class="close" href="#">×</a>
				<p>
					{{message}}
				</p>
			</div>
			{% endfor %}
		{% endif %}

		{% block topbar %}
		{% endblock %}
		
		{% block container %}
		{% endblock %}

		{% block footer %}
			<div class="footer">
				<footer>
				<p>
					-- RHOK Oxford 2011 -- 
				</p>
				</footer>
			</div>
		{% endblock %}
	</body>
</html>
