{% extends "base.html" %}

		{% load getattribute %}
		{% load score_header %}
		{% load score_val %}
		{% load getcolor %}
		
	{% block topbar %}
	    <div class="topbar">
	      <div class="topbar-inner">
	        <div class="container-fluid">
	          <a class="brand" href="#">NGO Clarity</a>
	          <ul class="nav">
	            <!--li class="active"><a href="#">Home</a></li>
	            <li><a href="#about">About</a></li>
	            <li><a href="#contact">Contact</a></li-->
	          </ul>
	          <p class="pull-right"><a href="#">RHoK Oxford 2011</a></p>
	        </div>
	      </div>
	    </div>
	{% endblock %}
	
    
	{% block container %}
		<div class="container">
	      <div class="content">

			<h3>Dataset: NGO Partnership website 2011</h3>
			<hr>
			<form action="/" method="post">
				{% csrf_token %}
				
				{% for rs in rules %}
					<h3>Ruleset: {{rs.name|score_header}}</h3>
		            <table class="zebra-striped" id="ruleTable">
					<thead>
						<tr>
							<td>Active</td>
							<td>Weight</td>
							<td>Name</td>
							<td>Description</td>
						</tr>
					</thead>
					<tbody>
						{% for item in rs.rules %}
							<tr>
								{% if item.active %}
									<td><input name="{{rs.name}}#{{item.name}}#chk" type="checkbox" checked="true"></td>
								{% else %}
									<td><input name="{{rs.name}}#{{item.name}}#chk" type="checkbox"></input></td>
								{% endif %}
								<td><input name="{{rs.name}}#{{item.name}}#weight" type="input" value="{{item.weight}}"></input></td>
								<td>{{item.name}}</td>
								<td>{{item.description}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
			<input class="btn primary" style="text-align:right" type="submit" value="Recalculate"/></a>
		</form>
		

		
		<hr>
	    <h3>Records</h3>
	
            <table class="zebra-striped" id="recordTable">
			<thead>
				<tr>
					<td>Name</td>
					<td>City</td>
					<td>Type</td>
					{% for rs in rules %}
						<td class="">{{rs.name|score_header}}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for item in records %}
					<tr>
						{% if item.Id %}
							<td><a href="/data/{{item.Id|urlencode:""}}" rel="popover">{{item.Name}}</a></td>
						{% else %}
							<td>{{item.Name}}</td>
						{% endif %}
						<td>{{item.City}}</td>
						<td>{{item.Type}}</td>
						{% for rs in rules %}
							<td style="background-color:{{item|getcolor:rs.name}}">{{item|score_val:rs.name}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	
	    </div>
    
    	<hr>
    
      <div id="map" style="width: 500px; height: 400px; text-align:center"></div>

  <script type="text/javascript">
  //This is the entry
function codeLocations(list, map) {
  for (var i = 0; i < list.length; i++) {

    var geocoder = new google.maps.Geocoder();
    var geoOptions = {
      address: list[i],
      region: "NO"
    };
    geocoder.geocode(geoOptions, createGeocodeCallback(list[i], map));
  }
}

function createGeocodeCallback(item, map) {
  console.log("Generating geocode callback for " + item.location);
  return function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      console.log("Geocoding " + item.location + " OK");
      addMarker(map, item, results[0].geometry.location);
    } else {
      console.log("Geocode failed " + status);
    }
  }
}

function addMarker(map, item, location) {
  console.log("Setting marker for " + item.location + " (location: " + location + ")");
  var marker = new google.maps.Marker({ map : map, position : location});
  marker.setTitle(item.title);
  var infowindow = new google.maps.InfoWindow( {
    content : item.body,
    size : new google.maps.Size(100, 300)
  });
  new google.maps.event.addListener(marker, "click", function() {
    infowindow.open(map, marker);
  });
}
	$.get("locations",function(data){
	
	
    var locations = [
      'Mumbai, India',
      'Calcutta,India',
      'Munnar,India',
      'Bangalore, India',
      'Delhi,India'
    ];

	//locations = data

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(20.385825,79.892578),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

	codeLocations(locations,map);
    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    
    	});
    
  </script>
    
	{% endblock %}
