{% extends "base.html" %}

		{% load getattribute %}
		{% load score_header %}
		{% load score_val %}
		{% load getcolor %}
		
	{% block topbar %}
	    <div class="topbar">
	      <div class="topbar-inner">
	        <div class="container-fluid">
	          <a class="brand" href="#">NGO Clarity</a>
	          <ul class="nav">
	            <!--li class="active"><a href="#">Home</a></li>
	            <li><a href="#about">About</a></li>
	            <li><a href="#contact">Contact</a></li-->
	          </ul>
	          <p class="pull-right"><a href="#">RHoK Oxford 2011</a></p>
	        </div>
	      </div>
	    </div>
	{% endblock %}
	
    
	{% block container %}
		<div class="container">
	      <div class="content">

			<h3>Dataset: NGO Partnership website 2011</h3>
			<hr>
			<form action="/" method="post">
				{% csrf_token %}
				
				{% for rs in rules %}
					<h3>Ruleset: {{rs.name|score_header}}</h3>
		            <table class="zebra-striped" id="ruleTable">
					<thead>
						<tr>
							<td>Active</td>
							<td>Weight</td>
							<td>Name</td>
							<td>Description</td>
						</tr>
					</thead>
					<tbody>
						{% for item in rs.rules %}
							<tr>
								{% if item.active %}
									<td><input name="{{rs.name}}#{{item.name}}#chk" type="checkbox" checked="true"></td>
								{% else %}
									<td><input name="{{rs.name}}#{{item.name}}#chk" type="checkbox"></input></td>
								{% endif %}
								<td><input name="{{rs.name}}#{{item.name}}#weight" type="input" value="{{item.weight}}"></input></td>
								<td>{{item.name}}</td>
								<td>{{item.description}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
			<input class="btn primary" style="text-align:right" type="submit" value="Recalculate"/></a>
		</form>
		

		
		<hr>
	    <h3>Records</h3>
	
            <table class="zebra-striped" id="recordTable">
			<thead>
				<tr>
					<td>Name</td>
					<td>City</td>
					<td>Type</td>
					{% for rs in rules %}
						<td class="">{{rs.name|score_header}}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for item in records %}
					<tr>
						{% if item.Id %}
							<td><a href="/data/{{item.Id|urlencode:""}}">{{item.Name}}</a></td>
						{% else %}
							<td>{{item.Name}}</td>
						{% endif %}
						<td>{{item.City}}</td>
						<td>{{item.Type}}</td>
						{% for rs in rules %}
							<td style="background-color:{{item|getcolor:rs.name}}">{{item|score_val:rs.name}}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	
	    </div>
    
	{% endblock %}
